@import '../fonts/Gilroy/gilroy';
@import '../fonts/Noto-serif/notoserif';

*{
  margin: 0;
  padding: 0;
}

a{text-decoration: none;}

ul{list-style: none;}

.container{
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  outline: none;
  padding: 15px 35px;
  text-transform: uppercase;
  cursor: pointer;
}

.main{
  background: url(../images/bg-main.jpg);
  background-position: center;
  background-size: cover;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  .header{
    padding-top: 25px;
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 523px;

    &__navbar{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__item{
        

        a{
          color: #ffffff;
        }
      }
    }

    &__search-item{
      display: flex;
      align-items: center;
    }
  }

  h1{
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
  }

  .main-btn{
    background-color: #333333;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 80px;
  }

  &__bottom{
    border-top: 1px solid #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }

}
